@import "./var";
.about {
  min-height: 52.3rem;
  background: url('/icon/bg.png') no-repeat center;
  background-size: contain;
  color: $black;
  box-sizing: border-box;
  padding: 0;
  h2 {
    font-weight: normal;
    padding-top: 9.5rem;
    margin-bottom: 7.8rem;
  }
  &__icon {
    width: 12.7rem;
    height: 12.7rem;
    margin-bottom: 35px;
    &_1 {
      background: url('/icon/flower.png') no-repeat center;
    }
    &_2 {
      background: url('/icon/list.png') no-repeat center;
    }
    &_3 {
      background: url('/icon/bubble.png') no-repeat center;
    }
    &_4 {
      background: url('/icon/heart.png') no-repeat center;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      display: block;
      text-align: center;
      width: 60%;
      line-height: 1.8rem;
    }
  }
  &__wrap {
    display: flex;
    padding: 0 8.3rem 0 6.3rem;
  }
}