@import "./var";
.about-cleanning {
  color: $black;
  padding: 5.6rem 0;
  &__text {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 3.3rem;
  }
}