@import "./var";
.button {
  height: 3.8rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  padding: 0 4.5rem;
  border: none;
  color: $black;
  &:hover {
    opacity: 0.6;
  }
  &_transparent {
    border: 2px solid rgba(255, 255, 255, 0.75);
    background: none;
    color: #fff;
  }
  &_color {
    background: linear-gradient(left, #82eaad, #6fe0f2);
  }
  &_white {
    background: $white;
    padding: 0 65px;
    height: 45px;
  }
}