@import "./var";
.count {
  max-width: 105rem;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0, 0.1);
  color: $black;
  display: flex;
  justify-content: space-between;
  padding: 7.2rem 8.6rem 6.2rem 5.9rem;
  box-sizing: border-box;
  margin-bottom: 7rem;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 1.7rem;
      &:first-child {
        font-size: 4.8rem;
        color: #6fe0f1;
      }
    }
    &:first-child {
      align-items: flex-start;
      span {
        font-size: 1.8rem;
        font-weight: 300;
        color: #999999;
        &:first-child {
          font-size: 2.4rem;
          margin-bottom: 1.5rem;
          font-weight: 500;
          color: $black;
        }
      }
    }
  }
}