@import "./var";
.select2-container {
  min-width: 23.6rem;
  min-height: 4.2rem;
  text-align: left;
}
.select2-container .select2-selection--single,
.select2-container .select2-selection--single .select2-selection__rendered,
.selection{
  min-height: 4.2rem;
  display: flex!important;
  align-items: center;
  width: 100%;
}
.select2-container--default .select2-selection--single {
  border-color: #d9d9d9;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px!important;
  box-sizing: border-box;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 4.2rem!important;
}
.select2-results {
  color: $black!important;
}