@import "./var";
.form {
  background: $white;
  display: flex;
  align-items: center;
  max-width: 81rem;
  padding: 2.4rem 2.8rem 1.9rem;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 2.2rem;
  &__block {
    display: flex;
    flex-direction: column;
    margin-right: 2.9rem;
  }
}
label {
  font-weight: 300;
  color: #666666;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}