.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding-top: 3.7rem;
  &__right-block {
    display: flex;
    align-items: center;
  }
  .phone {
    margin-right: 4rem;
  }
}