@import "./var";
.quest {
  background: #f8f8f8;
  color: $black;
  padding: 5.1rem 0 7.2rem 0;
  h2 {
    margin-bottom: 56px;
  }
  &__inner {
    display: flex;
    padding: 0 107px;
  }
  &__list-wrap {
    background: #fff;
    width: 100%;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0, 0.1);
    border-radius: 8px;
    display: flex;
    padding: 35px 25px 35px 133px;
    &:not(:first-child) {
      display: none;
    }
  }
  &__list {
    list-style-type: decimal;
    column-count: 2;
    width: 100%;

    li {
      margin-bottom: 12px;
      a {
        border-bottom: 1px dashed #000000;
        line-height: 21px;
        color: #000000;
        &:hover {
          color: #4bd0e4;
          border-bottom: 1px dashed #4bd0e4;
        }
      }

    }
  }
}