@import "./var";
.reviews {
  color: $black;
  box-sizing: border-box;
  padding: 7.5rem 0 0 0;
  background-size: cover;
  overflow: hidden;
  h2 {
    margin-bottom: 4.7rem;
  }
  &__top {
    display: flex;
    margin-bottom: 8px;
  }
  &__name {
    color: #42648b;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 5px;
  }
  &__date {
    color: #939393;
    font-size: 1.2rem;
  }
  &__text {
    line-height: 1.9rem;
    margin-bottom: 5px;
  }
  a {
    font-size: 1.3rem;
    color: #2a5885;
  }
  .button {
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.4);
    margin:  0 auto;
  }
}