.rooms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    max-width: 97.7rem;
    display: block;
    margin-bottom: 1.9rem;
    &:not(:first-child) {
      display: none;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2.4rem;
  }
  &__label {
    position: relative;
    margin-left: 3rem;
    &:before {
      content: "";
      position: absolute;
      width: 0.9rem;
      height: 0.9rem;
      top: calc(50% - 0.4rem);
      left: -1.5rem;
      border-radius: 50%;
    }
    &_green:before {
      background: #82eaae;
    }
    &_yellow:before {
      background: #f6ff00;
    }
  }
}
