.slider {
  margin: 0 auto 2.9rem;
  position: relative;
  width: 100%;

  &__item {
    background: #fff;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0, 0.1);
    border-radius: 8px;
    padding: 45px 75px 36px 73px;
    box-sizing: border-box;
    display: flex!important;
    justify-content: center;
    img {
      display: flex;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &__wrap {
    background: url('/images/bg2.png') center 0 no-repeat;
    padding: 8.5rem 0 50px;
    background-size: cover;
  }
}
.wrap-slider {
  position: relative;
  max-width: 905px;
  margin: 0 auto;
  .slick-track {
    display: flex;
    align-items: center;
  }
}
.arrows {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 2.8rem);
  z-index: 1;
  cursor: pointer;
  &__next {
    right: -2.5rem;
    background: #f0f0f0 url('/icon/arrow-next.png') no-repeat center;
  }
  &__prev {
    left: -2.5rem;
    background: #f0f0f0 url('/icon/arrow-prev.png') no-repeat center;
  }
}