.start-block {
  min-height: 812px;
  background: url("./../../images/bg.png") no-repeat center -1.9rem;
  background-size: cover;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.35);
  }
  &__title {
    font-size: 4.6rem;
    padding: 0 2rem;
    font-weight: bold;
    margin-top: 11.4rem;
    margin-left: -2rem;
    margin-bottom: 1.9rem;
  }
  &__subtitle {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 1.9rem;
  }
  &__price {
    color: #82eaad;
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 151px;
    span {
      margin: 0 0.6rem;
    }
  }
  &__promotext {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 6px;
    span {
      margin-right: 1rem;
      &:last-child {
        text-transform: uppercase;
      }
    }
  }
  &__promocode {
    position: relative;
    span {
      &:last-child {
        color: $yellow;
        margin-left: 10px;
      }
    }
  }
  .button_color{
    margin-top: 2.2rem;
    height: 4.4rem;
    padding: 0 4rem;
  }
}