@import "./var";
.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  &__text {
    margin-right: 20px;
  }
  &__item {
    font-weight: 300;
    border-bottom: 1px dashed $black;
    margin: 0 15px;
    cursor: pointer;
    &_active {
      color: #62d5e9;
      border: none;
    }
  }
}

.tabs-view2 {
  display: flex;
  justify-content: space-between;
  padding: 0 108px 0 110px;
  margin-bottom: 40px;
  &__item {
    width: 31%;
    height: 11.6rem;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0, 0.1);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    padding: 0 0 0 52px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    &_active {
      color: #4bd0e4
    }
  }
  &__icon {
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) center;
    &_1 {
      background-image: url('/icon/pay.png');
    }
    &_2 {
      background-image: url('/icon/metla.png');
    }
    &_3 {
      background-image: url('/icon/people.png');
    }
  }
}