@import "./var";
.type-cleanning {
  color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5.5rem;
  h2 {
    width: 100%;
    margin-bottom: 4.2rem;
  }
  &__field {
    max-width: 49rem;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0, 0.1);
    padding: 4.1rem 0 2.7rem 0;
    min-height: 63rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 7rem;
    }
    span {
      display: block;
      padding-left: 82px;
      margin-top: 39px;
      margin-bottom: 10px;
    }
  }
  &__wrap {
    flex-grow: 1;
  }
  .rooms__label {
    font-size: 2.4rem;
    margin-left: 13.8rem;
    margin-bottom: 3.5rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    span {
      margin: 0;
      padding: 0;
      &:first-child {
        font-size: 1.6rem;
      }
      &:last-child {
        font-size: 1.4rem;
        color: #999999;
        display: block;
        margin-top: 1rem;
      }
    }
  }
  &__price {
    font-size: 3.8rem;
    margin-left: 1rem;
  }
  &__bottom {
    border-top: 1px solid #f6f6f5;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.list {
  padding: 0 8rem;
  li {
    margin-bottom: 11px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1.1rem;
      height: 0.8rem;
      left: -30px;
      top: calc(50% - 0.4rem);
      background: url('/icon/check.png');
    }
  }
  &_check-plus {
    li {
      &:before {
        content: "+";
        font-size: 1.8rem;
        background: none;
        color: #6fe0f2;
        top: calc(50% - 0.8rem);
        left: -3.6rem;
      }
    }
  }
}