@media screen and (min-width: 320px) and (max-width: 1300px) {
  .section {
    width: 100%;
  }
  .header {
    padding: 3.7rem 2rem 0 1.5rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .menu {
    font-size: 1.2rem;
    a {
      margin-right: 1.5rem;
    }
  }
  .logo {
    margin-right: 1rem;
    margin-left: 0;
  }
  .type-cleanning {
    &__field {
      min-width: 0;
      max-width: none;
      width: 45%;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 992px) {
  .menu {
    order: 1;
    flex-grow: 0;
    position: relative;
    &__wrap {
      position: absolute;
      z-index: 1;
      background: #fff;
      top: -51px;
      left: -25px;
      width: 75vw;
      height: 100vh;
      padding: 50px 30px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px 0 rgba(0,0,0, 0.6);
      display: none;
      a {
        color: #000000;
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
    }
  }
  .menu.open .menu__wrap{
    display: flex;
  }
  .burger {
    display: block;
    margin-right: 25px;
    margin-top: -10px;
  }
  .logo {
    order: 2;
    flex-grow: 1;
    background-position: 0 0;
  }
  .header {
    padding: 3.7rem 0 0 0;
    &__right-block {
      order: 3;
      .phone {
        display: none;
      }
    }
  }
  .rooms {
    img {
      width: 100%;
      max-width: none;
    }
  }
  .start-block {
    min-height: auto;
    padding: 0 25px 50px;
    background-position: 65% 0;
    &__title {
      font-size: 2.4rem;
      margin-top: 20px;
    }
    &__subtitle {
      font-size: 1.6rem;
    }
    &__price {
      font-size: 3.6rem;
      margin-bottom: 50px;
    }
  }
  .form {
    flex-direction: column;
    &__block {
      width: 100%;
      margin: 0 0 15px;
    }
    .select2-container {
      width: 100%!important;
    }
  }
  .call-us {
    width: 40px;
    height: 40px;
    background-size: 20px;
    &__wrapper {
      margin-top: 10px;
    }
  }
  .tabs {
    font-size: 1.4rem;
  }
  .type-cleanning {
    &__field:not(:last-child) {
      margin-right: 15px;
    }
    .rooms__label {
      margin-left: 7rem;
    }
    &__inner {
      flex-direction: column;
    }
    &__price {
      margin-top: 2rem;
    }
  }
  .list {
    padding: 0 20px 0 7rem;
  }
  .count {
    flex-direction: column;
    padding: 40px;
    margin-bottom: 0;
    &__wrap {
      margin-bottom: 20px;
      &:first-child {
        align-items: center;
      }
    }
  }
  .about {
    background: none;
    h2 {
      padding: 40px 30px 0;
      margin-bottom: 20px;
    }
    &__wrap {
      padding: 0 30px;
      flex-direction: column;
    }
    &__item {
      margin-bottom: 30px;
    }
    &__icon {
      width: 10rem;
      height: 10rem;
      background-size: contain;
      margin-bottom: 0.5rem;
    }
  }
  .tabs-view2 {
    flex-direction: column;
    padding: 0 50px;
    &__item {
      width: 100%;
    }
  }
  .quest {
    &__inner {
      padding: 0 50px;
    }
    &__list-wrap {
      padding: 30px 40px;
    }
    &__list {
      column-count: 1;
    }
  }
  .wrap-slider {
    max-width: 85%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
  .about-cleanning {
    &__text {
      font-size: 1.4rem;
      padding: 0 30px;
    }
  }
  .tabs {
    font-size: 1.4rem;
    &__text {
      margin-right: 5px;
    }
    &__item {
      margin: 0 5px;
    }
  }
  .reviews {
    &__top {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      margin: 10px 0;
    }
  }
  .slider {
    &__item {
      padding: 30px;
      width: 85%!important;
      margin: 0 auto;
      flex-direction: column;
      img {
        margin: 0 auto;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .type-cleanning {
    &__field {
      width: 100%;
      margin: 0 50px 30px!important;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .logo {
    width: 100px;
    background-size: contain;
    flex-grow: 0;
  }
  .button {
    padding: 0 25px;
  }
  .tabs {
    display: block;
    padding: 0 30px;
    &__item {
      display: inline-block;
      margin: 10px 10px 0 0;
    }
  }
  .type-cleanning {
    &__field {
      margin: 0 20px 30px!important;
    }
    .rooms__label {
      font-size: 2rem;
    }
  }
  .tabs-view2 {
    padding: 0 20px;
  }
  .quest {
    &__inner {
      padding: 20px;
    }
  }
}