@import "./block/var";
html, body {
  font-size: 10px;
  font-weight: normal;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.6rem;
  color: $white;

}
.section {
  width: 1294px;
  margin: 0 auto;
  position: relative;
}
.phone {
  font-size: 1.6rem;
  color: $yellow;
  &:hover {
    opacity: 0.6;
  }
}
.call-us {
  width: 7rem;
  height: 7rem;
  background: #00D5E5 url('./../icon/phone-white.png') no-repeat center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem;
  &:hover {
    opacity: 0.6;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.1rem;
  }
}
h2 {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
}
.burger {
  width: 20px;
  height: 20px;
  background: url('/icon/burger.png') no-repeat center;
  cursor: pointer;
  display: none;
}
.close {
  font-size: 22px;
  color: $black;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  padding: 10px;
}