html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button,
input[type=submit],
input[type=button] {
  cursor: pointer; }

* {
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 0;
  margin: 0;
  outline: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

html, body {
  font-size: 10px;
  font-weight: normal;
  overflow-x: hidden; }

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #fff; }

.section {
  width: 1294px;
  margin: 0 auto;
  position: relative; }

.phone {
  font-size: 1.6rem;
  color: #f6ff00; }
  .phone:hover {
    opacity: 0.6; }

.call-us {
  width: 7rem;
  height: 7rem;
  background: #00D5E5 url("./../icon/phone-white.png") no-repeat center;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem; }
  .call-us:hover {
    opacity: 0.6; }
  .call-us__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 4.1rem; }

h2 {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500; }

.burger {
  width: 20px;
  height: 20px;
  background: url("/icon/burger.png") no-repeat center;
  cursor: pointer;
  display: none; }

.close {
  font-size: 22px;
  color: #000000;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  padding: 10px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.7rem; }
  .header__right-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .phone {
    margin-right: 4rem; }

.logo {
  width: 13rem;
  height: 2.1rem;
  background: url("./../../icon/logo.png") no-repeat center;
  margin-right: 6.4rem;
  margin-left: 1rem;
  margin-top: -0.7rem; }

.start-block {
  min-height: 812px;
  background: url("./../../images/bg.png") no-repeat center -1.9rem;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  text-align: center; }
  .start-block:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35); }
  .start-block__title {
    font-size: 4.6rem;
    padding: 0 2rem;
    font-weight: bold;
    margin-top: 11.4rem;
    margin-left: -2rem;
    margin-bottom: 1.9rem; }
  .start-block__subtitle {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 1.9rem; }
  .start-block__price {
    color: #82eaad;
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 151px; }
    .start-block__price span {
      margin: 0 0.6rem; }
  .start-block__promotext {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 6px; }
    .start-block__promotext span {
      margin-right: 1rem; }
      .start-block__promotext span:last-child {
        text-transform: uppercase; }
  .start-block__promocode {
    position: relative; }
    .start-block__promocode span:last-child {
      color: #f6ff00;
      margin-left: 10px; }
  .start-block .button_color {
    margin-top: 2.2rem;
    height: 4.4rem;
    padding: 0 4rem; }

.menu {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left; }
  .menu a {
    color: #fff;
    margin-right: 3.9rem; }
    .menu a:hover {
      color: #62d5e9; }

.button {
  height: 3.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 4rem;
          border-radius: 4rem;
  padding: 0 4.5rem;
  border: none;
  color: #000000; }
  .button:hover {
    opacity: 0.6; }
  .button_transparent {
    border: 2px solid rgba(255, 255, 255, 0.75);
    background: none;
    color: #fff; }
  .button_color {
    background: -webkit-gradient(linear, left top, right top, from(#82eaad), to(#6fe0f2));
    background: -webkit-linear-gradient(left, #82eaad, #6fe0f2);
    background: -o-linear-gradient(left, #82eaad, #6fe0f2);
    background: linear-gradient(left, #82eaad, #6fe0f2); }
  .button_white {
    background: #fff;
    padding: 0 65px;
    height: 45px; }

.form {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 81rem;
  padding: 2.4rem 2.8rem 1.9rem;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 2.2rem; }
  .form__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 2.9rem; }

label {
  font-weight: 300;
  color: #666666;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.select2-container {
  min-width: 23.6rem;
  min-height: 4.2rem;
  text-align: left; }

.select2-container .select2-selection--single,
.select2-container .select2-selection--single .select2-selection__rendered,
.selection {
  min-height: 4.2rem;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.select2-container--default .select2-selection--single {
  border-color: #d9d9d9; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 4.2rem !important; }

.select2-results {
  color: #000000 !important; }

.about-cleanning {
  color: #000000;
  padding: 5.6rem 0; }
  .about-cleanning__text {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px; }
  .about-cleanning h2 {
    margin-bottom: 3.3rem; }

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 4rem; }
  .tabs__text {
    margin-right: 20px; }
  .tabs__item {
    font-weight: 300;
    border-bottom: 1px dashed #000000;
    margin: 0 15px;
    cursor: pointer; }
    .tabs__item_active {
      color: #62d5e9;
      border: none; }

.tabs-view2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 108px 0 110px;
  margin-bottom: 40px; }
  .tabs-view2__item {
    width: 31%;
    height: 11.6rem;
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 52px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    -webkit-border-radius: 8px;
            border-radius: 8px; }
    .tabs-view2__item_active {
      color: #4bd0e4; }
  .tabs-view2__icon {
    background-repeat: no-repeat;
    background-position: -webkit-calc(100% - 19px) center;
    background-position: calc(100% - 19px) center; }
    .tabs-view2__icon_1 {
      background-image: url("/icon/pay.png"); }
    .tabs-view2__icon_2 {
      background-image: url("/icon/metla.png"); }
    .tabs-view2__icon_3 {
      background-image: url("/icon/people.png"); }

.rooms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .rooms img {
    max-width: 97.7rem;
    display: block;
    margin-bottom: 1.9rem; }
    .rooms img:not(:first-child) {
      display: none; }
  .rooms__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2.4rem; }
  .rooms__label {
    position: relative;
    margin-left: 3rem; }
    .rooms__label:before {
      content: "";
      position: absolute;
      width: 0.9rem;
      height: 0.9rem;
      top: -webkit-calc(50% - 0.4rem);
      top: calc(50% - 0.4rem);
      left: -1.5rem;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .rooms__label_green:before {
      background: #82eaae; }
    .rooms__label_yellow:before {
      background: #f6ff00; }

.type-cleanning {
  color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5.5rem; }
  .type-cleanning h2 {
    width: 100%;
    margin-bottom: 4.2rem; }
  .type-cleanning__field {
    max-width: 49rem;
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    padding: 4.1rem 0 2.7rem 0;
    min-height: 63rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .type-cleanning__field:not(:last-child) {
      margin-right: 7rem; }
    .type-cleanning__field span {
      display: block;
      padding-left: 82px;
      margin-top: 39px;
      margin-bottom: 10px; }
  .type-cleanning__wrap {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .type-cleanning .rooms__label {
    font-size: 2.4rem;
    margin-left: 13.8rem;
    margin-bottom: 3.5rem; }
  .type-cleanning__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem; }
    .type-cleanning__inner span {
      margin: 0;
      padding: 0; }
      .type-cleanning__inner span:first-child {
        font-size: 1.6rem; }
      .type-cleanning__inner span:last-child {
        font-size: 1.4rem;
        color: #999999;
        display: block;
        margin-top: 1rem; }
  .type-cleanning__price {
    font-size: 3.8rem;
    margin-left: 1rem; }
  .type-cleanning__bottom {
    border-top: 1px solid #f6f6f5;
    padding-top: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.list {
  padding: 0 8rem; }
  .list li {
    margin-bottom: 11px;
    position: relative; }
    .list li:before {
      content: '';
      position: absolute;
      width: 1.1rem;
      height: 0.8rem;
      left: -30px;
      top: -webkit-calc(50% - 0.4rem);
      top: calc(50% - 0.4rem);
      background: url("/icon/check.png"); }
  .list_check-plus li:before {
    content: "+";
    font-size: 1.8rem;
    background: none;
    color: #6fe0f2;
    top: -webkit-calc(50% - 0.8rem);
    top: calc(50% - 0.8rem);
    left: -3.6rem; }

.count {
  max-width: 105rem;
  -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
  color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7.2rem 8.6rem 6.2rem 5.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 7rem; }
  .count__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .count__wrap span {
      font-size: 1.7rem; }
      .count__wrap span:first-child {
        font-size: 4.8rem;
        color: #6fe0f1; }
    .count__wrap:first-child {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .count__wrap:first-child span {
        font-size: 1.8rem;
        font-weight: 300;
        color: #999999; }
        .count__wrap:first-child span:first-child {
          font-size: 2.4rem;
          margin-bottom: 1.5rem;
          font-weight: 500;
          color: #000000; }

.about {
  min-height: 52.3rem;
  background: url("/icon/bg.png") no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }
  .about h2 {
    font-weight: normal;
    padding-top: 9.5rem;
    margin-bottom: 7.8rem; }
  .about__icon {
    width: 12.7rem;
    height: 12.7rem;
    margin-bottom: 35px; }
    .about__icon_1 {
      background: url("/icon/flower.png") no-repeat center; }
    .about__icon_2 {
      background: url("/icon/list.png") no-repeat center; }
    .about__icon_3 {
      background: url("/icon/bubble.png") no-repeat center; }
    .about__icon_4 {
      background: url("/icon/heart.png") no-repeat center; }
  .about__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about__item span {
      display: block;
      text-align: center;
      width: 60%;
      line-height: 1.8rem; }
  .about__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8.3rem 0 6.3rem; }

.quest {
  background: #f8f8f8;
  color: #000000;
  padding: 5.1rem 0 7.2rem 0; }
  .quest h2 {
    margin-bottom: 56px; }
  .quest__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 107px; }
  .quest__list-wrap {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
            border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 25px 35px 133px; }
    .quest__list-wrap:not(:first-child) {
      display: none; }
  .quest__list {
    list-style-type: decimal;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    width: 100%; }
    .quest__list li {
      margin-bottom: 12px; }
      .quest__list li a {
        border-bottom: 1px dashed #000000;
        line-height: 21px;
        color: #000000; }
        .quest__list li a:hover {
          color: #4bd0e4;
          border-bottom: 1px dashed #4bd0e4; }

.reviews {
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7.5rem 0 0 0;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden; }
  .reviews h2 {
    margin-bottom: 4.7rem; }
  .reviews__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px; }
  .reviews__name {
    color: #42648b;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 5px; }
  .reviews__date {
    color: #939393;
    font-size: 1.2rem; }
  .reviews__text {
    line-height: 1.9rem;
    margin-bottom: 5px; }
  .reviews a {
    font-size: 1.3rem;
    color: #2a5885; }
  .reviews .button {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    margin: 0 auto; }

.slider {
  margin: 0 auto 2.9rem;
  position: relative;
  width: 100%; }
  .slider__item {
    background: #fff;
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
            border-radius: 8px;
    padding: 45px 75px 36px 73px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .slider__item img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 5rem;
      height: 5rem;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover;
      margin-right: 10px; }
  .slider__wrap {
    background: url("/images/bg2.png") center 0 no-repeat;
    padding: 8.5rem 0 50px;
    -webkit-background-size: cover;
            background-size: cover; }

.wrap-slider {
  position: relative;
  max-width: 905px;
  margin: 0 auto; }
  .wrap-slider .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.arrows {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -webkit-calc(50% - 2.8rem);
  top: calc(50% - 2.8rem);
  z-index: 1;
  cursor: pointer; }
  .arrows__next {
    right: -2.5rem;
    background: #f0f0f0 url("/icon/arrow-next.png") no-repeat center; }
  .arrows__prev {
    left: -2.5rem;
    background: #f0f0f0 url("/icon/arrow-prev.png") no-repeat center; }

@media screen and (min-width: 320px) and (max-width: 1300px) {
  .section {
    width: 100%; }
  .header {
    padding: 3.7rem 2rem 0 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .menu {
    font-size: 1.2rem; }
    .menu a {
      margin-right: 1.5rem; }
  .logo {
    margin-right: 1rem;
    margin-left: 0; }
  .type-cleanning__field {
    min-width: 0;
    max-width: none;
    width: 45%; } }

@media screen and (min-width: 320px) and (max-width: 992px) {
  .menu {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative; }
    .menu__wrap {
      position: absolute;
      z-index: 1;
      background: #fff;
      top: -51px;
      left: -25px;
      width: 75vw;
      height: 100vh;
      padding: 50px 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
      display: none; }
      .menu__wrap a {
        color: #000000;
        font-size: 1.6rem;
        margin-bottom: 10px; }
  .menu.open .menu__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .burger {
    display: block;
    margin-right: 25px;
    margin-top: -10px; }
  .logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-position: 0 0; }
  .header {
    padding: 3.7rem 0 0 0; }
    .header__right-block {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
      .header__right-block .phone {
        display: none; }
  .rooms img {
    width: 100%;
    max-width: none; }
  .start-block {
    min-height: auto;
    padding: 0 25px 50px;
    background-position: 65% 0; }
    .start-block__title {
      font-size: 2.4rem;
      margin-top: 20px; }
    .start-block__subtitle {
      font-size: 1.6rem; }
    .start-block__price {
      font-size: 3.6rem;
      margin-bottom: 50px; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form__block {
      width: 100%;
      margin: 0 0 15px; }
    .form .select2-container {
      width: 100% !important; }
  .call-us {
    width: 40px;
    height: 40px;
    -webkit-background-size: 20px 20px;
            background-size: 20px; }
    .call-us__wrapper {
      margin-top: 10px; }
  .tabs {
    font-size: 1.4rem; }
  .type-cleanning__field:not(:last-child) {
    margin-right: 15px; }
  .type-cleanning .rooms__label {
    margin-left: 7rem; }
  .type-cleanning__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .type-cleanning__price {
    margin-top: 2rem; }
  .list {
    padding: 0 20px 0 7rem; }
  .count {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    margin-bottom: 0; }
    .count__wrap {
      margin-bottom: 20px; }
      .count__wrap:first-child {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
  .about {
    background: none; }
    .about h2 {
      padding: 40px 30px 0;
      margin-bottom: 20px; }
    .about__wrap {
      padding: 0 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about__item {
      margin-bottom: 30px; }
    .about__icon {
      width: 10rem;
      height: 10rem;
      -webkit-background-size: contain;
              background-size: contain;
      margin-bottom: 0.5rem; }
  .tabs-view2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 50px; }
    .tabs-view2__item {
      width: 100%; }
  .quest__inner {
    padding: 0 50px; }
  .quest__list-wrap {
    padding: 30px 40px; }
  .quest__list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .wrap-slider {
    max-width: 85%; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  h2 {
    font-size: 2.4rem; }
  .about-cleanning__text {
    font-size: 1.4rem;
    padding: 0 30px; }
  .tabs {
    font-size: 1.4rem; }
    .tabs__text {
      margin-right: 5px; }
    .tabs__item {
      margin: 0 5px; }
  .reviews__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0; }
  .slider__item {
    padding: 30px;
    width: 85% !important;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slider__item img {
      margin: 0 auto; } }

@media screen and (min-width: 320px) and (max-width: 650px) {
  .type-cleanning__field {
    width: 100%;
    margin: 0 50px 30px !important; } }

@media screen and (min-width: 320px) and (max-width: 576px) {
  .logo {
    width: 100px;
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .button {
    padding: 0 25px; }
  .tabs {
    display: block;
    padding: 0 30px; }
    .tabs__item {
      display: inline-block;
      margin: 10px 10px 0 0; }
  .type-cleanning__field {
    margin: 0 20px 30px !important; }
  .type-cleanning .rooms__label {
    font-size: 2rem; }
  .tabs-view2 {
    padding: 0 20px; }
  .quest__inner {
    padding: 20px; } }
