doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Kami

		link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')
		link(rel="stylesheet" href="css/reset.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/media.css")
		link(rel="stylesheet" href="css/select2.css")
		link(rel="stylesheet" href="css/slick.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="js/vendor/select2.js")
		script(src="js/vendor/slick.js")
		script(src="js/js.js")
	body
		.start-block
			header.header.section
				a(href="/").logo
				nav.menu
					.burger.js-burger
					.menu__wrap
						.close.js-close x
						a(href="/prouborki") Про уборки
						a(href="/order") Оформить заказ
						a(href="/aboutus") О нас
						a(href="/reviews") Отзывы
						a(href="/faq") F.A.Q
						a(href="/sale") Акции
				.header__right-block
					a(href="tel:+74958453444").phone +7 (495) 845-34-44
					button.button.button_transparent Войти
			.section.call-us__wrapper
				.call-us
			.section.start-block__inner
				.start-block__title Уборка квартир в Москве и Подмосковье
				.start-block__subtitle Идеальный порядок каждую неделю
				.start-block__price
					span от
					span 1590
					span руб
			form.section.form
				.form__block
					label(for="type") Тип уборки
					select#type
						option Поддерживающая
						option Поддерживающая
						option Поддерживающая
						option Поддерживающая
						option Поддерживающая
				.form__block
					label(for="count") Количество комнат
					select#count
						option 1-комнатная
						option 2-комнатная
						option 3-комнатная
				button.button.button_color Оформить заявку
			.start-block__promotext
				span Закажите уборку на завтра прямо сейчас и получите
				span СКИДКУ 15%.
			.start-block__promocode
				span Промокод:
				span YESTERDAY
		section.section.about-cleanning
			h2 Про уборки
			p.about-cleanning__text.
				Клинер приедет со всем необходимым для уборки. Стоимость уборки
				рассчитывается от количества комнат.
			.tabs.js-tabs
				.tabs__text В каждый тариф входит уборка:
				.tabs__item.tabs__item_active(data-rooms="room") В комнате
				.tabs__item(data-rooms="kitchen") На кухне
				.tabs__item(data-rooms="bathroom") В ванной и туалете
				.tabs__item(data-rooms="hall") В коридоре
			.rooms
				img(src="./images/img4.png" data-rooms="room")
				img(src="./images/img3.png" data-rooms="kitchen")
				img(src="./images/img2.png" data-rooms="bathroom")
				img(src="./images/img1.png" data-rooms="hall")
				.rooms__bottom
					.rooms__label.rooms__label_green Поддерживающая уборка
					.rooms__label.rooms__label_yellow Генеральная уборка
		section.section.type-cleanning
			h2 Типы уборки
			.type-cleanning__field
				.rooms__label.rooms__label_green Поддерживающая
				.type-cleanning__wrap
					ul.list
						li Протираем мебель сверху донизу
						li Чистим зеркала и стеклянные поверхности
						li Пылесосим ковры
						li Моем пол
						li Убираем мусор
						li Вычищаем пыль из углов
						li Протираем плинтусы
				.type-cleanning__bottom
					.type-cleanning__inner
						.type-cleanning__text
							span Стоимость уборки:
							span Во всех комнатах
						.type-cleanning__price 1590 руб.
					button.button.button_color Оформить заявку
			.type-cleanning__field
				.rooms__label.rooms__label_yellow Генеральная
				.type-cleanning__wrap
					ul.list
						li Протираем мебель сверху донизу
						li Чистим зеркала и стеклянные поверхности
						li Пылесосим ковры
						li Моем пол
						li Убираем мусор
						li Вычищаем пыль из углов
						li Протираем плинтусы
					span Генеральная
					ul.list.list_check-plus
						li Мойка радиатора отопления
						li Очистка выключателей и дверных ручек
						li Обеспыливание настенных светильников
				.type-cleanning__bottom
					.type-cleanning__inner
						.type-cleanning__text
							span Стоимость уборки:
							span Во всех комнатах
						.type-cleanning__price 1990 руб.
					button.button.button_color Оформить заявку
		section.section.count
			.count__wrap
				span Счетчик OZOZON
				span 23 июля 2017
			.count__wrap
				span 16882
				span Квартир убрано
			.count__wrap
				span 17
				span Сегодня в работе
			.count__wrap
				span 2
				span Свободные клинеры
		section.about
			.section
				h2 Вы обязательно останетесь довольны, ведь мы...
				.about__wrap
					.about__item
						.about__icon.about__icon_1
						span Используем только уникальные экологиеские средства
					.about__item
						.about__icon.about__icon_2
						span Отбираем только самых лучших клинеров
					.about__item
						.about__icon.about__icon_3
						span Используем особо эффективную технологию уборки
					.about__item
						.about__icon.about__icon_4
						span Очень любим наших клиентов и предоставляем скидки
		section.quest
			.section
				h2 Часто задаваемые вопросы
				.tabs-view2
					.tabs-view2__item.tabs-view2__icon.tabs-view2__icon_1.tabs-view2__item_active(data-quest="1") По оплате
					.tabs-view2__item.tabs-view2__icon.tabs-view2__icon_2(data-quest="2") По уборке
					.tabs-view2__item.tabs-view2__icon.tabs-view2__icon_3(data-quest="3") По персоналу
				.quest__inner
					.quest__list-wrap(data-quest="1")
						ul.quest__list
							li
								a(href="#") 1 Что входит в Ваши уборки?
							li
								a(href="#") Обязательно ли мое присутствие?
							li
								a(href="#") Чем вы убираетесь?
							li
								a(href="#") Что нужно предоставить клинеру для уборки?
							li
								a(href="#") Клинеру нужны читсые тряпочки?
							li
								a(href="#") Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
							li
								a(href="#") У меня большая квартира. Как ее считать?
							li
								a(href="#") Делаете ли вы уборку в выходные?
							li
								a(href="#") Выезжаете ли вы в область за МКАД?
							li
								a(href="#") Что такое подписка и в чем ее преимущество?
							li
								a(href="#") Чем вы заниматетесь?
					.quest__list-wrap(data-quest="2")
						ul.quest__list
							li
								a(href="#") 2 Что входит в Ваши уборки?
							li
								a(href="#") Обязательно ли мое присутствие?
							li
								a(href="#") Чем вы убираетесь?
							li
								a(href="#") Что нужно предоставить клинеру для уборки?
							li
								a(href="#") Клинеру нужны читсые тряпочки?
							li
								a(href="#") Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
							li
								a(href="#") У меня большая квартира. Как ее считать?
							li
								a(href="#") Делаете ли вы уборку в выходные?
							li
								a(href="#") Выезжаете ли вы в область за МКАД?
							li
								a(href="#") Что такое подписка и в чем ее преимущество?
							li
								a(href="#") Чем вы заниматетесь?
					.quest__list-wrap(data-quest="3")
						ul.quest__list
							li
								a(href="#") 3 Что входит в Ваши уборки?
							li
								a(href="#") Обязательно ли мое присутствие?
							li
								a(href="#") Чем вы убираетесь?
							li
								a(href="#") Что нужно предоставить клинеру для уборки?
							li
								a(href="#") Клинеру нужны читсые тряпочки?
							li
								a(href="#") Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
							li
								a(href="#") У меня большая квартира. Как ее считать?
							li
								a(href="#") Делаете ли вы уборку в выходные?
							li
								a(href="#") Выезжаете ли вы в область за МКАД?
							li
								a(href="#") Что такое подписка и в чем ее преимущество?
							li
								a(href="#") Чем вы заниматетесь?
		section.reviews
			.section
				h2 Отзывы
			.slider__wrap
				.section
					.wrap-slider
						.arrows.arrows__next
						.arrows.arrows__prev
						.slider.js-slider
							.slider__item
								img(src="/images/ava.jpg")
								.reviews__comment
									.reviews__top
										.reviews__name Олеся Воливач
										.reviews__date 12 окт 2016 в 13:37
									p.reviews__text.
										С другой стороны консультация с широким активом
										обеспечивает широкому кругу (специалистов) участие в
										формировании модели развития. Разнообразный и богатый
										опыт консультация с широким активом требуют от нас ана
										С другой стороны консультация с широким активом
									a(href="#") Ответить
							.slider__item
								img(src="/images/ava.jpg")
								.reviews__comment
									.reviews__top
										.reviews__name Олеся Воливач
										.reviews__date 12 окт 2016 в 13:37
									p.reviews__text.
										С другой стороны консультация с широким активом
										обеспечивает широкому кругу (специалистов) участие в

									a(href="#") Ответить
							.slider__item
								img(src="/images/ava.jpg")
								.reviews__comment
									.reviews__top
										.reviews__name Олеся Воливач
										.reviews__date 12 окт 2016 в 13:37
									p.reviews__text.
										С другой стороны консультация с широким активом
										обеспечивает широкому кругу (специалистов) участие в
										формировании модели развития. Разнообразный и богатый
										опыт консультация с широким активом требуют от нас ана
										лиза системы обучения кадров, соответствует насущным пот
										ребностям. Разнообразный и богатый опыт рамки и место обуч
										ения кадров обеспечивает широкому кругу (специалистов) участие
										в формировании сущес
									a(href="#") Ответить
					button.button.button_white Все отзывы